body {
  margin: 0;
  font-family: Arial;
}
.container {
  display: flex;
  height: 100vh;
}
/* Sidebar */
.sidebar {
  width: 240px;
  background: #1e293b;
  color: white;
  padding: 15px;
}

.sidebar h3 {
  color: #94a3b8;
}
.channel {
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
}
.channel:hover {
  background: #334155;
}

/* HR panel */
#announcementText {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: none;
}

#priority {
  width: 100%;
  padding: 6px;
  margin-bottom: 8px;
}

/* DM Button */
.dm-btn {
  width: 100%;
  padding: 8px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Chat */
.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  padding: 15px;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: space-between;
}

/* Status */
.status {
  font-size: 12px;
}
/* Messages */
.messages {
  flex: 1;
  padding: 10px;
  overflow-y: scroll;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
}

/* Message */
.message {
  margin: 8px 0;
  padding: 8px;
  border-radius: 8px;
  max-width: 60%;
}
.my-message {
  align-self: flex-end;
  background-color: #2563eb;
  color: white;
}
.other-message {
  align-self: flex-start;
  background-color: white;
}

/* Announcement */
.announcement {
  align-self: center;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin: 10px auto;
  max-width: 70%;
}

.urgent {
  background: #ef4444;
  color: white;
}

.normal {
  background: #22c55e;
  color: black;
}
/* Timestamp */
.timestamp {
  font-size: 10px;
  opacity: 0.6;
  margin-top: 5px;
}
/* Input */
.input-box {
  display: flex;
  padding: 10px;
  background: #ddd;
}
input {
  flex: 1;
  padding: 10px;
  background: #1e293b;
  border: none;
  color: white;
}
button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}