body {
  margin: 0;
  font-family: Arial;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #2f3136;
  color: white;
  padding: 15px;
}

.channel {
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
}

.channel:hover {
  background: #40444b;
}

/* Chat Area */
.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  padding: 15px;
  background: #eee;
  font-weight: bold;
}

/* Messages Container*/
.messages {
  flex: 1;
  padding: 10px;
  overflow-y: scroll;
  background: #f4f4f4;
  display: flex;
  flex-direction: column; 
}

/* Message bubble */
.message {
  margin: 8px 0;
  padding: 8px;
  background: white;
  border-radius: 8px;
  max-width: 60%;
}

.my-message {
  align-self: flex-start;
  background-color: #dcf8c6; 
  border-bottom-left-radius: 0px; 
  border-bottom-right-radius: 8px;
}

.other-message {
  align-self: flex-end;
  background-color: white;
  border-bottom-right-radius: 0px; 
  border-bottom-left-radius: 8px;
}

/* Input */
.input-box {
  display: flex;
  padding: 10px;
  background: #ddd;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}
